In [2]:
import sqlite3
dir(sqlite3)

['Binary',
 'Cache',
 'Connection',
 'Cursor',
 'DataError',
 'DatabaseError',
 'Date',
 'DateFromTicks',
 'Error',
 'IntegrityError',
 'InterfaceError',
 'InternalError',
 'NotSupportedError',
 'OperationalError',
 'OptimizedUnicode',
 'PARSE_COLNAMES',
 'PARSE_DECLTYPES',
 'PrepareProtocol',
 'ProgrammingError',
 'Row',
 'SQLITE_ALTER_TABLE',
 'SQLITE_ANALYZE',
 'SQLITE_ATTACH',
 'SQLITE_CREATE_INDEX',
 'SQLITE_CREATE_TABLE',
 'SQLITE_CREATE_TEMP_INDEX',
 'SQLITE_CREATE_TEMP_TABLE',
 'SQLITE_CREATE_TEMP_TRIGGER',
 'SQLITE_CREATE_TEMP_VIEW',
 'SQLITE_CREATE_TRIGGER',
 'SQLITE_CREATE_VIEW',
 'SQLITE_DELETE',
 'SQLITE_DENY',
 'SQLITE_DETACH',
 'SQLITE_DROP_INDEX',
 'SQLITE_DROP_TABLE',
 'SQLITE_DROP_TEMP_INDEX',
 'SQLITE_DROP_TEMP_TABLE',
 'SQLITE_DROP_TEMP_TRIGGER',
 'SQLITE_DROP_TEMP_VIEW',
 'SQLITE_DROP_TRIGGER',
 'SQLITE_DROP_VIEW',
 'SQLITE_IGNORE',
 'SQLITE_INSERT',
 'SQLITE_OK',
 'SQLITE_PRAGMA',
 'SQLITE_READ',
 'SQLITE_REINDEX',
 'SQLITE_SELECT',
 'SQLITE_TRANSACTION',
 'SQLITE_UPDATE',
 'Statement',
 'Time',
 'TimeFromTicks',
 'Timestamp',
 'TimestampFromTicks',
 'Warning',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 'adapt',
 'adapters',
 'apilevel',
 'collections',
 'complete_statement',
 'connect',
 'converters',
 'datetime',
 'dbapi2',
 'enable_callback_tracebacks',
 'enable_shared_cache',
 'paramstyle',
 'register_adapter',
 'register_converter',
 'sqlite_version',
 'sqlite_version_info',
 'threadsafety',
 'time',
 'version',
 'version_info']

In [4]:
import sqlite3
#sqlite3 모듈 버전
print(sqlite3.version)
print(sqlite3.version_info)
#sqlite db 버전
print(sqlite3.sqlite_version)
print(sqlite3.sqlite_version_info)

2.6.0
(2, 6, 0)
3.8.11
(3, 8, 11)

In [6]:
import sqlite3
print(type(sqlite3.connect))
print(dir(sqlite3.connect))

<class 'builtin_function_or_method'>
['__call__', '__class__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__le__', '__lt__', '__module__', '__name__', '__ne__', '__new__', '__qualname__', '__reduce__', '__reduce_ex__', '__repr__', '__self__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__text_signature__']

In [17]:
import sqlite3
conn = sqlite3.connect('sql_test.db')
print(type(conn))
print(dir(conn))

<class 'sqlite3.Connection'>
['DataError', 'DatabaseError', 'Error', 'IntegrityError', 'InterfaceError', 'InternalError', 'NotSupportedError', 'OperationalError', 'ProgrammingError', 'Warning', '__call__', '__class__', '__delattr__', '__dir__', '__doc__', '__enter__', '__eq__', '__exit__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__le__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'close', 'commit', 'create_aggregate', 'create_collation', 'create_function', 'cursor', 'enable_load_extension', 'execute', 'executemany', 'executescript', 'in_transaction', 'interrupt', 'isolation_level', 'iterdump', 'load_extension', 'rollback', 'row_factory', 'set_authorizer', 'set_progress_handler', 'set_trace_callback', 'text_factory', 'total_changes']

In [19]:
import sqlite3
conn = sqlite3.connect('sql_test.db')
cur = conn.cursor()
print(type(cur))
for i in dir(cur) :
    if not i.startswith("__") :
        print(i)
cur.close()

<class 'sqlite3.Cursor'>
arraysize
close
connection
description
execute
executemany
executescript
fetchall
fetchmany
fetchone
lastrowid
row_factory
rowcount
setinputsizes
setoutputsize

In [12]:
# student table 생성하기
import sqlite3
conn = sqlite3.connect('sql_test.db')
cur = conn.cursor()
#create table sql을 문자열로 작성
sql = "create table student(name text, age int)"
cur.execute(sql)
conn.commit()
conn.close()

In [68]:
def bulk_insertTable() :
    try :
         # 기본 port는 부여하지 않아도 됨
        conn = sqlite3.connect('sql_test.db')
        cur = conn.cursor()
        sql = "insert into student(name, age) values(?,?)"
        data = [('김철수10',50),('김철수11',50),
                ('김철수12',50)]
        cur.executemany(sql,data)
        conn.commit()
        conn.close()
        print("insert bulk sucess")
    except Exception as err :
        print('error ', err)
        
bulk_insertTable()

insert bulk sucess

In [22]:
import sqlite3

        
def insertTable() :
    try :
        db = sqlite3.connect('sql_test.db')
        cur = db.cursor()
        sql = "insert into student(name, age) values(?,?)"
        data = ('박순신',40)
        cur.execute(sql,data)
        db.commit()
        db.close()
        print("insert sucess")
    except Exception as err :
        print('error ', err)
        
        
insertTable()

insert sucess

In [23]:
import sqlite3
def selectTable() :
    try :
        db = sqlite3.connect('sql_test.db')
        cur = db.cursor()
        sql = "select * from student"
        cur.execute(sql)
        data = cur.fetchall()
        print(data)
        for dt in data :
            print("이름: %s 나이: %d" % (dt[0], dt[1]))
        db.close()
        print("select fetch all sucess")
    except Exception as err :
        print('error ', err)
        
selectTable()

[('이순신', 40), ('박순신', 40)]
이름: 이순신 나이: 40
이름: 박순신 나이: 40
select fetch all sucess

In [62]:
import sqlite3
def select_curTable() :
    try :
        db = sqlite3.connect('sql_test.db')
        cur = db.cursor()
        sql = "select * from student"
        cur.execute(sql)
        
        for dt in cur :
            print("이름: %s 나이: %d" % (dt[0], dt[1]))
        db.close()
        print("select cur sucess")
    except Exception as err :
        print('error ', err)
        
select_curTable()

이름: 김철수7 나이: 50
이름: 파이썬2 나이: 60
이름: 파이썬3 나이: 70
이름: 김철수1 나이: 50
이름: 김철수2 나이: 60
이름: 김철수3 나이: 70
select cur sucess

In [21]:
import sqlite3
def select_foneTable() :
    try :
        db = sqlite3.connect('sql_test.db')
        cur = db.cursor()
        sql = "select * from student"
        cur.execute(sql)
        data = cur.fetchone()
        
        print("이름: %s 나이: %d" % (data[0], data[1]))
        db.close()
        print("select cur sucess")
    except Exception as err :
        print('error ', err)
        
select_foneTable()

이름: 이순신 나이: 40
select cur sucess

In [27]:
import sqlite3
def updateTable() :
    try :
        db = sqlite3.connect('sql_test.db')
        cur = db.cursor()
        sql = "update student set name=? where age=?"
        data =("파이썬2",60)
        cur.execute(sql,data)
        
        db.commit()
        db.close()
        print(" update sucess")
    except Exception as err :
        print('error ', err)
        
updateTable()

 update sucess

In [29]:
import sqlite3
def update_allTable() :
    try :
        db = sqlite3.connect('sql_test.db')
        cur = db.cursor()
        sql = "update student set name=? where age=?"
        data =[("파이썬2",60), ("파이썬3",70)]
        cur.executemany(sql,data)
        
        db.commit()
        db.close()
        print(" update sucess")
    except Exception as err :
        print('error ', err)
        
update_allTable()

 update sucess

In [31]:
import sqlite3
def deleteTable() :
    try :
        db = sqlite3.connect('sql_test.db')
        cur = db.cursor()
        sql = "delete from student where age= ?"
        data = (40,)
        cur.execute(sql,data)
        
        db.commit()
        db.close()
        print(" delete sucess")
    except Exception as err :
        print('error ', err)
        
deleteTable()

 delete sucess

In [34]:
import sqlite3
def where_and_Table() :
    try :
        db = sqlite3.connect('sql_test.db')
        cur = db.cursor()
        sql = "select * from student where name=? or age= ?"
        data = ("파이썬2",70)
        cur.execute(sql,data)
        
        for dt in cur :
            print("이름: %s 나이: %d" % (dt[0], dt[1]))
        db.close()
       
        print(" where and sucess")
    except Exception as err :
        print('error ', err)
        
where_and_Table()

이름: 파이썬2 나이: 60
이름: 파이썬3 나이: 70
 where and sucess

In [36]:
import sqlite3
def between_and_Table() :
    try :
        db = sqlite3.connect('sql_test.db')
        cur = db.cursor()
        sql = "select * from student where age between 60 and 70"
        
        cur.execute(sql)
        
        for dt in cur :
            print("이름: %s 나이: %d" % (dt[0], dt[1]))
        db.close()
       
        print(" between and sucess")
    except Exception as err :
        print('error ', err)
        
between_and_Table()

이름: 파이썬2 나이: 60
이름: 파이썬3 나이: 70
 between and sucess

In [38]:
import sqlite3
def like_Table() :
    try :
        db = sqlite3.connect('sql_test.db')
        cur = db.cursor()
        sql = "select * from student where name like '파%' "
        
        cur.execute(sql)
        
        for dt in cur :
            print("이름: %s 나이: %d" % (dt[0], dt[1]))
        db.close()
       
        print(" like sucess")
    except Exception as err :
        print('error ', err)
        
like_Table()

이름: 파이썬2 나이: 60
이름: 파이썬3 나이: 70
 like sucess

In [39]:
import sqlite3
def like1_Table() :
    try :
        db = sqlite3.connect('sql_test.db')
        cur = db.cursor()
        sql = "select * from student where name like '파이썬_' "
        
        cur.execute(sql)
        
        for dt in cur :
            print("이름: %s 나이: %d" % (dt[0], dt[1]))
        db.close()
       
        print(" like sucess")
    except Exception as err :
        print('error ', err)
        
like1_Table()

이름: 파이썬2 나이: 60
이름: 파이썬3 나이: 70
 like sucess

In [44]:
import sqlite3
def limit_Table() :
    try :
        db = sqlite3.connect('sql_test.db')
        cur = db.cursor()
        sql = "select * from student  limit ? "
        
        data = (3,)
        cur.execute(sql, data)
        
        for dt in cur :
            print("이름: %s 나이: %d" % (dt[0], dt[1]))
        db.close()
       
        print(" like sucess")
    except Exception as err :
        print('error ', err)
        
limit_Table()

이름: 김철수7 나이: 50
이름: 파이썬2 나이: 60
이름: 파이썬3 나이: 70
 like sucess

In [43]:
import sqlite3
def like1_Table() :
    try :
        db = sqlite3.connect('sql_test.db')
        cur = db.cursor()
        sql = "select * from student where name like '김%' limit ? "
        
        data = (3,)
        cur.execute(sql, data)
        
        for dt in cur :
            print("이름: %s 나이: %d" % (dt[0], dt[1]))
        db.close()
       
        print(" like sucess")
    except Exception as err :
        print('error ', err)
        
like1_Table()

이름: 김철수7 나이: 50
이름: 김철수1 나이: 50
이름: 김철수2 나이: 60
 like sucess

In [49]:
import sqlite3
def orderby_Table() :
    try :
        db = sqlite3.connect('sql_test.db')
        cur = db.cursor()
        sql = "select * from student order by age asc "
        
        cur.execute(sql)
        
        for dt in cur :
            print("이름: %s 나이: %d" % (dt[0], dt[1]))
        db.close()
       
        print(" orderby sucess")
    except Exception as err :
        print('error ', err)
        
orderby_Table()

이름: 김철수7 나이: 50
이름: 김철수1 나이: 50
이름: 파이썬2 나이: 60
이름: 김철수2 나이: 60
이름: 파이썬3 나이: 70
이름: 김철수3 나이: 70
 orderby sucess

In [51]:
import sqlite3
def orderbyd_Table() :
    try :
        db = sqlite3.connect('sql_test.db')
        cur = db.cursor()
        sql = "select * from student where name like '파%' order by age desc "
        
        cur.execute(sql)
        
        for dt in cur :
            print("이름: %s 나이: %d" % (dt[0], dt[1]))
        db.close()
       
        print(" orderby sucess")
    except Exception as err :
        print('error ', err)
        
orderbyd_Table()

이름: 파이썬3 나이: 70
이름: 파이썬2 나이: 60
 orderby sucess

In [57]:
import sqlite3
def groupby_Table() :
    try :
        db = sqlite3.connect('sql_test.db')
        cur = db.cursor()
        sql = "select count(*) from student group by age "
        
        cur.execute(sql)
        
        print(cur.fetchone())
        db.close()
       
        print(" orderby sucess")
    except Exception as err :
        print('error ', err)
        
groupby_Table()

(2,)
 orderby sucess

In [64]:
import sqlite3
def groupby_Table() :
    try :
        db = sqlite3.connect('sql_test.db')
        cur = db.cursor()
        sql = "select age, count(*) from student group by age "
        
        cur.execute(sql)
        
        for i in cur :
            print(i)
        db.close()
       
        print(" groupby sucess")
    except Exception as err :
        print('error ', err)
        
groupby_Table()

(50, 2)
(60, 2)
(70, 2)
 groupby sucess

In [71]:
import sqlite3
def where_groupby_Table() :
    try :
        db = sqlite3.connect('sql_test.db')
        cur = db.cursor()
        sql = "select age, count(*) from student where age between 50 and 60 \
        group by age having count(*)> 3  "
        
        cur.execute(sql)
        
        for i in cur :
            print(i)
        db.close()
       
        print(" groupby sucess")
    except Exception as err :
        print('error ', err)
        
where_groupby_Table()

(50, 6)
 groupby sucess

In [72]:
# student table 생성하기
import sqlite3
conn = sqlite3.connect('sql_test.db')
cur = conn.cursor()
#create table sql을 문자열로 작성
sql = "create table DEPARTMENT(ID INT PRIMARY KEY NOT NULL,DEPT TEXT, EMP_ID INT )"
cur.execute(sql)
conn.commit()
conn.close()

In [77]:
def bulk_insertTable() :
    try :
         # 기본 port는 부여하지 않아도 됨
        conn = sqlite3.connect('sql_test.db')
        cur = conn.cursor()
        sql = "insert into DEPARTMENT(id, dept, emp_id) values(?,?,?)"
        '''
        data = [(1,"기획",1),(2,'재무',2),
                (3,'경리',3),(4,'영업',4),
                (5,'인사',5)]
        '''
        data = [(6,"회계",6),(7,"총무",7)]
        cur.executemany(sql,data)
        conn.commit()
        conn.close()
        print("insert bulk sucess")
    except Exception as err :
        print('error ', err)
        
bulk_insertTable()

insert bulk sucess

In [94]:
def select_Table() :
    try :
         # 기본 port는 부여하지 않아도 됨
        conn = sqlite3.connect('sql_test.db')
        cur = conn.cursor()
        sql = "select * from DEPARTMENT;"
        
        cur.execute(sql)
        for i in cur :
            print(i)
        conn.close()
        print("select sucess")
    except Exception as err :
        print('error ', err)
        
select_Table()

(1, '기획')
(2, '재무')
(3, '경리')
(4, '영업')
(5, '인사')
(6, '회계')
(7, '총무')
select sucess

In [110]:
def bulk_insertTable() :
    try :
         # 기본 port는 부여하지 않아도 됨
        conn = sqlite3.connect('sql_test.db')
        cur = conn.cursor()
        sql = "insert into employee(empid, name, age,deptid, salary) values(?,?,?,?,?)"
        
        data = [(16 ,"폴3", 32, 0,20000.0),(17,"알렌2",25,0, 15000.0)]
        cur.executemany(sql,data)
        conn.commit()
        conn.close()
        print("insert bulk sucess")
    except Exception as err :
        print('error ', err)
        
bulk_insertTable()

insert bulk sucess

In [111]:
def employee_select_Table() :
    try :
         # 기본 port는 부여하지 않아도 됨
        conn = sqlite3.connect('sql_test.db')
        cur = conn.cursor()
        sql = "select * from employee;"
        
        cur.execute(sql)
        for i in cur :
            print(i)
        conn.close()
        print("select sucess")
    except Exception as err :
        print('error ', err)
        
employee_select_Table()

(1, '폴2', 32, 1, 20000)
(2, '알렌2', 25, 2, 15000)
(3, '폴2', 32, 7, 20000)
(4, '알렌2', 25, 7, 15000)
(5, '테디2', 35, 3, 20000)
(6, '마크2', 25, 3, 65000)
(7, '다윗2', 27, 5, 85000)
(8, '김2', 22, 4, 45000)
(9, '폴3', 32, 7, 20000)
(10, '테디2', 35, 3, 20000)
(11, '마크2', 25, 4, 65000)
(12, '다윗2', 27, 1, 85000)
(13, '김2', 22, 2, 45000)
(14, ' 제임스2', 24, 4, 100000)
(15, ' 제임스2', 24, 2, 100000)
(16, '폴3', 32, 0, 20000)
(17, '알렌2', 25, 0, 15000)
select sucess

In [104]:
def join_select_Table() :
    try :
         # 기본 port는 부여하지 않아도 됨
        conn = sqlite3.connect('sql_test.db')
        cur = conn.cursor()
        sql = "select em.name, dt.dept from department as dt , \
        employee as em where dt.id = em.deptid;"
        
        cur.execute(sql)
        for i in cur :
            print(i)
        conn.close()
        print("select sucess")
    except Exception as err :
        print('error ', err)
        
join_select_Table()

('폴2', '기획')
('알렌2', '재무')
('폴2', '총무')
('알렌2', '총무')
('테디2', '경리')
('마크2', '경리')
('다윗2', '인사')
('김2', '영업')
('폴3', '총무')
('테디2', '경리')
('마크2', '영업')
('다윗2', '기획')
('김2', '재무')
(' 제임스2', '영업')
(' 제임스2', '재무')
select sucess

In [109]:
def injoin_select_Table() :
    try :
         # 기본 port는 부여하지 않아도 됨
        conn = sqlite3.connect('sql_test.db')
        cur = conn.cursor()
        sql = "select em.name, dt.dept FROM department as dt INNER JOIN  \
        employee as em ON dt.id = em.deptid"
        
        cur.execute(sql)
        for i in cur :
            print(i)
        conn.close()
        print("select sucess")
    except Exception as err :
        print('error ', err)
        
injoin_select_Table()

('폴2', '기획')
('알렌2', '재무')
('폴2', '총무')
('알렌2', '총무')
('테디2', '경리')
('마크2', '경리')
('다윗2', '인사')
('김2', '영업')
('폴3', '총무')
('테디2', '경리')
('마크2', '영업')
('다윗2', '기획')
('김2', '재무')
(' 제임스2', '영업')
(' 제임스2', '재무')
select sucess

In [116]:
def outjoin_select_Table() :
    try :
         # 기본 port는 부여하지 않아도 됨
        conn = sqlite3.connect('sql_test.db')
        cur = conn.cursor()
        sql = "select em.name, dt.dept FROM employee as em  LEFT OUTER JOIN  \
          department as dt ON dt.id = em.deptid"
        
        cur.execute(sql)
        for i in cur :
            print(i)
        conn.close()
        print("select sucess")
    except Exception as err :
        print('error ', err)
        
outjoin_select_Table()

('폴2', '기획')
('알렌2', '재무')
('폴2', '총무')
('알렌2', '총무')
('테디2', '경리')
('마크2', '경리')
('다윗2', '인사')
('김2', '영업')
('폴3', '총무')
('테디2', '경리')
('마크2', '영업')
('다윗2', '기획')
('김2', '재무')
(' 제임스2', '영업')
(' 제임스2', '재무')
('폴3', None)
('알렌2', None)
select sucess

In [126]:
def natural_join_select_Table() :
    try :
         # 기본 port는 부여하지 않아도 됨
        conn = sqlite3.connect('sql_test.db')
        cur = conn.cursor()
        sql = "select em.empid, em.name, dt.dept FROM employee as em  Natural JOIN  \
          department as dt "
        
        cur.execute(sql)
        for i in cur :
            print(i)
        conn.close()
        print("select sucess")
    except Exception as err :
        print('error ', err)
        
natural_join_select_Table()

(1, '폴2', '기획')
(1, '폴2', '재무')
(1, '폴2', '경리')
(1, '폴2', '영업')
(1, '폴2', '인사')
(1, '폴2', '회계')
(1, '폴2', '총무')
(2, '알렌2', '기획')
(2, '알렌2', '재무')
(2, '알렌2', '경리')
(2, '알렌2', '영업')
(2, '알렌2', '인사')
(2, '알렌2', '회계')
(2, '알렌2', '총무')
(3, '폴2', '기획')
(3, '폴2', '재무')
(3, '폴2', '경리')
(3, '폴2', '영업')
(3, '폴2', '인사')
(3, '폴2', '회계')
(3, '폴2', '총무')
(4, '알렌2', '기획')
(4, '알렌2', '재무')
(4, '알렌2', '경리')
(4, '알렌2', '영업')
(4, '알렌2', '인사')
(4, '알렌2', '회계')
(4, '알렌2', '총무')
(5, '테디2', '기획')
(5, '테디2', '재무')
(5, '테디2', '경리')
(5, '테디2', '영업')
(5, '테디2', '인사')
(5, '테디2', '회계')
(5, '테디2', '총무')
(6, '마크2', '기획')
(6, '마크2', '재무')
(6, '마크2', '경리')
(6, '마크2', '영업')
(6, '마크2', '인사')
(6, '마크2', '회계')
(6, '마크2', '총무')
(7, '다윗2', '기획')
(7, '다윗2', '재무')
(7, '다윗2', '경리')
(7, '다윗2', '영업')
(7, '다윗2', '인사')
(7, '다윗2', '회계')
(7, '다윗2', '총무')
(8, '김2', '기획')
(8, '김2', '재무')
(8, '김2', '경리')
(8, '김2', '영업')
(8, '김2', '인사')
(8, '김2', '회계')
(8, '김2', '총무')
(9, '폴3', '기획')
(9, '폴3', '재무')
(9, '폴3', '경리')
(9, '폴3', '영업')
(9, '폴3', '인사')
(9, '폴3', '회계')
(9, '폴3', '총무')
(10, '테디2', '기획')
(10, '테디2', '재무')
(10, '테디2', '경리')
(10, '테디2', '영업')
(10, '테디2', '인사')
(10, '테디2', '회계')
(10, '테디2', '총무')
(11, '마크2', '기획')
(11, '마크2', '재무')
(11, '마크2', '경리')
(11, '마크2', '영업')
(11, '마크2', '인사')
(11, '마크2', '회계')
(11, '마크2', '총무')
(12, '다윗2', '기획')
(12, '다윗2', '재무')
(12, '다윗2', '경리')
(12, '다윗2', '영업')
(12, '다윗2', '인사')
(12, '다윗2', '회계')
(12, '다윗2', '총무')
(13, '김2', '기획')
(13, '김2', '재무')
(13, '김2', '경리')
(13, '김2', '영업')
(13, '김2', '인사')
(13, '김2', '회계')
(13, '김2', '총무')
(14, ' 제임스2', '기획')
(14, ' 제임스2', '재무')
(14, ' 제임스2', '경리')
(14, ' 제임스2', '영업')
(14, ' 제임스2', '인사')
(14, ' 제임스2', '회계')
(14, ' 제임스2', '총무')
(15, ' 제임스2', '기획')
(15, ' 제임스2', '재무')
(15, ' 제임스2', '경리')
(15, ' 제임스2', '영업')
(15, ' 제임스2', '인사')
(15, ' 제임스2', '회계')
(15, ' 제임스2', '총무')
(16, '폴3', '기획')
(16, '폴3', '재무')
(16, '폴3', '경리')
(16, '폴3', '영업')
(16, '폴3', '인사')
(16, '폴3', '회계')
(16, '폴3', '총무')
(17, '알렌2', '기획')
(17, '알렌2', '재무')
(17, '알렌2', '경리')
(17, '알렌2', '영업')
(17, '알렌2', '인사')
(17, '알렌2', '회계')
(17, '알렌2', '총무')
select sucess

In [127]:
def outjoin_select_Table() :
    try :
         # 기본 port는 부여하지 않아도 됨
        conn = sqlite3.connect('sql_test.db')
        cur = conn.cursor()
        sql = "select em.name, dt.dept FROM employee as em  RIGHT OUTER JOIN  \
          department as dt ON dt.id = em.deptid"
        
        cur.execute(sql)
        for i in cur :
            print(i)
        conn.close()
        print("select sucess")
    except Exception as err :
        print('error ', err)
        
outjoin_select_Table()

error  RIGHT and FULL OUTER JOINs are not currently supported

In [133]:
def union_select_Table() :
    try :
         # 기본 port는 부여하지 않아도 됨
        conn = sqlite3.connect('sql_test.db')
        cur = conn.cursor()
        sql = "select * FROM employee  union  \
          select * FROM  employee  "
        
        cur.execute(sql)
        for i in cur :
            print(i)
        conn.close()
        print("select sucess")
    except Exception as err :
        print('error ', err)
        
union_select_Table()

(1, '폴2', 32, 1, 20000)
(2, '알렌2', 25, 2, 15000)
(3, '폴2', 32, 7, 20000)
(4, '알렌2', 25, 7, 15000)
(5, '테디2', 35, 3, 20000)
(6, '마크2', 25, 3, 65000)
(7, '다윗2', 27, 5, 85000)
(8, '김2', 22, 4, 45000)
(9, '폴3', 32, 7, 20000)
(10, '테디2', 35, 3, 20000)
(11, '마크2', 25, 4, 65000)
(12, '다윗2', 27, 1, 85000)
(13, '김2', 22, 2, 45000)
(14, ' 제임스2', 24, 4, 100000)
(15, ' 제임스2', 24, 2, 100000)
(16, '폴3', 32, 0, 20000)
(17, '알렌2', 25, 0, 15000)
select sucess

In [138]:
import sqlite3
def glob_select_Table() :
    try :
         # 기본 port는 부여하지 않아도 됨
        conn = sqlite3.connect('sql_test.db')
        cur = conn.cursor()
        sql = "select * FROM employee  where age glob '3?';"
        
        cur.execute(sql)
        for i in cur :
            print(i)
        conn.close()
        print("select sucess")
    except Exception as err :
        print('error ', err)
        
glob_select_Table()

(1, '폴2', 32, 1, 20000)
(3, '폴2', 32, 7, 20000)
(5, '테디2', 35, 3, 20000)
(9, '폴3', 32, 7, 20000)
(10, '테디2', 35, 3, 20000)
(16, '폴3', 32, 0, 20000)
select sucess

In [143]:

import sqlite3
def date_select_Table() :
    try :
         # 기본 port는 부여하지 않아도 됨
        conn = sqlite3.connect('sql_test.db')
        cur = conn.cursor()
        sql = "select date('now');"
        
        cur.execute(sql)
        print(cur.fetchone())
        sql = "SELECT date('now','start of month','+1 month');"
        cur.execute(sql)
        print(cur.fetchone())
        sql = "SELECT date('now','start of month','+1 month','-1 day');"
        cur.execute(sql)
        print(cur.fetchone())
        conn.close()
        print("date select sucess")
    except Exception as err :
        print('error ', err)
        
date_select_Table()

('2017-02-21',)
('2017-03-01',)
('2017-02-28',)
date select sucess

In [146]:
import sqlite3
def dateepoch_select_Table() :
    try :
         # 기본 port는 부여하지 않아도 됨
        conn = sqlite3.connect('sql_test.db')
        cur = conn.cursor()
        sql = "select datetime(1092941466, 'unixepoch');"
        
        cur.execute(sql)
        print(cur.fetchone())
        
        sql = "select datetime(1092941466, 'unixepoch','localtime');"
        
        cur.execute(sql)
        print(cur.fetchone())
        conn.close()
        print("date select sucess")
    except Exception as err :
        print('error ', err)
        
dateepoch_select_Table()

('2004-08-19 18:51:06',)
('2004-08-20 03:51:06',)
date select sucess

In [149]:
import sqlite3
def strftime_select_Table() :
    try :
         # 기본 port는 부여하지 않아도 됨
        conn = sqlite3.connect('sql_test.db')
        cur = conn.cursor()
        sql = "select strftime('%s','now');"
        
        cur.execute(sql)
        print(cur.fetchone())
        
        conn.close()
        print("date select sucess")
    except Exception as err :
        print('error ', err)
        
strftime_select_Table()

('1487645606',)
date select sucess

In [1]:
import sqlite3
def sqlite_version() :
    try :
         # 기본 port는 부여하지 않아도 됨
        conn = sqlite3.connect('sql_test.db')
        cur = conn.cursor()
        sql = "select sqlite_version() AS 'SQLite Version';"
        
        cur.execute(sql)
        print(cur.fetchone())
        
        conn.close()
        print("sqlite_version sucess")
    except Exception as err :
        print('error ', err)
        
sqlite_version()

('3.8.11',)
sqlite_version sucess

In [5]:
import sqlite3
def length_version() :
    try :
         # 기본 port는 부여하지 않아도 됨
        conn = sqlite3.connect('sql_test.db')
        cur = conn.cursor()
        sql = "select name, length(name) FROM employee;"
        
        cur.execute(sql)
        for i in cur :
            print(i)
        
        conn.close()
        print(" length sucess")
    except Exception as err :
        print('error ', err)
        
length_version()

('폴2', 2)
('알렌2', 3)
('폴2', 2)
('알렌2', 3)
('테디2', 3)
('마크2', 3)
('다윗2', 3)
('김2', 2)
('폴3', 2)
('테디2', 3)
('마크2', 3)
('다윗2', 3)
('김2', 2)
(' 제임스2', 5)
(' 제임스2', 5)
('폴3', 2)
('알렌2', 3)
 length sucess

In [153]:
%%writefile flaskr/templates/result.html

<!doctype html>
<html>
   <body>
   
      <table border = 1>
         {% for key, value in result.iteritems() %}
         
            <tr>
               <th> {{ key }} </th>
               <td> {{ value }} </td>
            </tr>
            
         {% endfor %}
      </table>
      
   </body>
</html>

Writing flaskr/templates/result.html

In [156]:
%%writefile flaskr/result.py
from flask import Flask, render_template
app = Flask(__name__)

@app.route('/')
@app.route('/result')
def result():
    
    dict = {'phy':50,'che':60,'maths':70}
    return render_template('result.html', result = dict)

if __name__ == '__main__':
    app.run(debug = True)

Overwriting flaskr/result.py